# https://wiki.ubuntu.com/SystemdForUpstartUsers
# JBR MiddleTier Admin Service

[Unit]
Description=JBR MiddleTier Admin Service
After=mysql.service

[Service]
ExecStart=/usr/bin/java -Xms768M -Xmx768M -Dspring.profiles.active=pdn -jar /usr/bin/jbr/MiddleTier-Admin-onejar.jar

[Install]
WantedBy=multi-user.target
